<%= render'list',user:@user %>

  <h4>Books</h4>
  <%= @books.each do |books| %>

    <p><%= image_tag @user.get_profile_image(100,100) %></p>

    <p>Title:<%= books.title %></p>
    <p>Opinion:<%= books.body %></p>

<% end %>